<!DOCTYPE html>
<html lang="en">
{{> header  }}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/grade.css">
    <title>Final Grade Calculator</title>
    <script src="https://kit.fontawesome.com/8c371e499e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <header>
            <h1>Final Exam Calculator</h1>
        </header>
        <form>
            <div class="input-container">
                <div class="input-content">
                    <span>Your current grade is a:</span>
                    <input type="number" class="current-grade">
                    <span>%.</span>
                </div>
                <div class="input-content">
                    <span>Your final exam is worth:</span>
                    <input type="number" class="exam-weight">
                    <span>% of your final grade.</span>
                </div>
                <div class="input-content">
                    <span>You want a:</span>
                    <input type="number" class="desired-semester-grade">
                    <span>% as your final grade.</span>
                </div>
            </div>
            <button type="button" class="submit-btn" style="positon: absolute; bottom: 10%;">Submit</button>     
        </form>
        <h4 class="glass-effect center"></h4>
        <div class="modal">
            <div class="modal-container">
                <div class="modal-close">
                    <i class="fas fa-times" id="modal-close"></i>
                </div>
                <div class="modal-content">
                    <div class="you-need"></div>
                    <div class="message"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/grade.js"></script>
    <div class="absolute">
      <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
      <div class="bg-shape2 bg-pink opacity-50 bg-blur"></div>
      <div class="bg-shape3 bg-blue opacity-50 bg-blur"></div>
      <div class="bg-shape4 bg-beige opacity-50 bg-blur"></div>
    </div>
</body>
</html>
