<!DOCTYPE html>
<html lang="en">
{{> header  }}
{{> chatbot  }}

<head>
    <!-- Meta tags for character set, compatibility, and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to Google Fonts for the Poppins font family -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Link to Tailwind CSS for utility-first CSS classes -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Link to Internal CSS -->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
      <!-- Background shapes for decoration -->
    <div class="absolute">
          <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
          <div class="bg-shape2 bg-pink opacity-50 bg-blur"></div>
          <div class="bg-shape3 bg-blue opacity-50 bg-blur"></div>
          <div class="bg-shape4 bg-beige opacity-50 bg-blur"></div>
        </div>
      </div>
    
    <div class="container">
    
    <!-- Title -->
    <h2 id="title" class="text-5x1 font-bold gradient-text relative z-10" style="margin-top: 10%;">GPA Calculator</h2>
    
    <!-- Class question label -->
    <div class="mb-4">
        <label id="classQuestion" for="numClasses" style="background: linear-gradient(90deg, #ff6a00, #ffa57d, #ffd9a8) -webkit-background-clip: text;white-space: nowrap;margin-left: 39%;"> How many classes are you taking?</label>
        
        </div>
        <!-- Typing effect on the phrase below-->
        <div class="auto-type">
            <h3>To calculate multiple years' GPAs, input the total amount of classes taken to present.</h3>
        </div>
    <!-- Asks user for the amount of classes they taken and collects data-->
    <input type="number" id="numClasses" min="1" required class="mt-1 block w-full rounded-md bg-gray-200 border-transparent focus:border-blue-500 focus:bg-white focus:ring-0" style="width: 160px; height: 40px; font-size: 14px; border-radius: 10px; margin-left: 11%; text-align: center; z-index: 10;">

    <!-- Creates the appropriate amount of rows and co based on the amount of classes inputed from the user-->
    <button onclick="createInputFields()" class="w-full py-2 px-4 button-style center-text" style="width: 150px; height: 23px; font-size: 14px; font-weight: bold; fontborder-radius: 10px; margin-left: 11%; border-radius: 6px; ">Submit</button>

        <div id="errorMessage" class="error-message"></div>
   
    <!-- GPA display for both unweighted and weighted and Save button -->
    <div id="classInputs" class="mt-8"></div>
        <div style="display: flex; justify-content: center; align-items: center; gap: 20px; margin-left: 40%;">
            <p style="text-align: center; color: #FF5700; z-index: 10; position: relative;">Unweighted GPA:<br><span style="color: orange; font-weight: bold;" id="unweightedGPA">N/A</span></p>
            <p style="text-align: center; color: #FF5700; z-index: 10; position: relative;">Weighted GPA:<br><span style="color: orange; font-weight: bold;" id="weightedGPA">N/A</span></p>
            <button id="saveGpaBtn" onclick="saveGpa()" class="w-full py-2 px-4 bg-eeaeca hover:bg-blue-600 text-white font-semibold rounded-md mt-8 transition duration-300 hidden button-style" style="width: 150px; height: 40px; font-size: 14px; font-weight: bold; border: 1px solid; margin-left: 11%; border-radius: 10px; z-index: 10; position: relative;">Save GPA?</button>
        </div>
    </div>
    </div>
    <script src="/script.js"></script>
    
</h4>

    
   </body>

    <script>
    // Display stored email if user is signed in
    document.addEventListener('DOMContentLoaded', (event) => {
            const storedEmail = localStorage.getItem('userEmail');
            if (storedEmail) {
                const signedInMessage = document.createElement('div');
                signedInMessage.id = 'signedInMessage';
                signedInMessage.textContent = `${storedEmail}`;
                signedInMessage.style.position = 'absolute';
                signedInMessage.style.top = '10px';
                signedInMessage.style.right = '10px';
                signedInMessage.style.backgroundColor = '#FF5700';
                signedInMessage.style.color = 'white';
                signedInMessage.style.padding = '10px';
                signedInMessage.style.borderRadius = '5px';
                document.body.appendChild(signedInMessage);
            }
        });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <!-- Button to download pdf for user -->
    <button onclick="downloadPDF()" class="w-full py-2 px-4 button-style center-text" style="width: 150px; height: 23px; font-size: 14px; font-weight: bold; border-radius: 10px; margin-left: 11%; border-radius: 6px;">Download PDF</button>
</html>