<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="/css/info.css" rel="stylesheet" type="text/css" />
</head>

    <body>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
      </head>
      <body>
        <aside class="sidebar" style="z-index: 10;">
              <div class="logo">
                <img src="logo.jpg" alt="logo">
                <h2>GPGenius</h2>
              </div>
              <ul class="links">
                <h4>Main Menu</h4>
                <li>
                  <span class="material-symbols-outlined" style="color:#ffa57d">
                  home
                  </span>
                  <a window.location.href = "#">Home</a>
                </li>
                <li>
                  <span class="material-symbols-outlined" style="color:#ffa57d">
                  info
                  </span>
                  <a href="#">Information</a>
                </li>
                <li>
                  <span class="material-symbols-outlined" style="color:#ffa57d">
                  question_mark
                  </span>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <span class="material-symbols-outlined" style="color:#ffa57d">
                  summarize
                  </span>
                  <a href="#">Transcript</a>
                </li>
                  <li style="position:absolute; bottom:10px">
                      <span class="material-symbols-outlined" style="color:#ffa57d;">
                      logout
                      </span>
                      <a href="/auth/logout">Logout</a>
                    </li>
              </ul>
            </aside>

  <div class="container">
    <main class="main flow">
      <h1 class="main__heading">Made for <span class="orange">You</span></h1>
      <div class="main__cards cards">
        <div class="cards__inner">
          <div class="cards__card card">
            <h2 class="card__heading"></h2>
            <p class="card__name">Integrated AI</p>
            <ul role="list" class="card__bullets flow">
              <li>Instant guidance to using the program, schoolwork, and all things regarding GPAs</li>
              <li>Tailored directly for Silver Creek students</li>
              <li>Trained to only answer relevant questions</li>
            </ul>

          </div>

          <div class="cards__card card">
            <h2 class="card__heading"></h2>
            <p class="card__name">Easy Usage</p>
            <ul role="list" class="card__bullets flow">
              <li>Intuitive design made for anybody to be able to use</li>
              <li>Added guidance with FAQs and instructions</li>
              <li>24/7 help with AI</li>
            </ul>

          </div>

          <div class="cards__card card">
            <h2 class="card__heading"></h2>
            <p class="card__name">Secured Data</p>
            <ul role="list" class="card__bullets flow">
              <li>Password and 2 factor authentication</li>
              <li>Safe data storage using SQL and cookies</li>
              <li>Nobody has access to your GPA data besides you</li>
            </ul>
            
        </div>

        <main class="main flow">
          <div class="main__cards cards">
            <div class="cards__inner">
              <div class="cards__card cardy transition duration-150 ease-out hover:ease-in" style=>
                <h2 class="card__heading"></h2>
                <p class="card__name">Instructions</p>
                <ul role="list" class="flow" style="line-height: 1.7; margin-left: 4px;">
                  <ol>
                    <li>Login with your Student ID.</li>
                    <li>Go to your email and input the 4 digit pin sent to you</li>
                    <li>Proceed to the calculator.</li> 
                    <li>Enter the amount of classes you are currently taking.</li>
                    <li>Type in the name of each class for easier tracking.</li>
                    <li>Select the letter grade for each class from the drop-down menu.</li>
                    <li>Select the course type you are taking from the drop-down menu.</li>
                    <li>Repeat steps 4-6 for the number of classes you inputted.</li>
                    <li>Check the bottom of the page for both your unweighted and weighted GPAs.</li>
                    <li>Optional: Click the Save GPA button to save your results to your account.</li>
                  </ol>
              </div>
            </div>
            <main class="main flow">  
              <div class="main__cards cards">
                <div class="cards__card card">
                <div class="cards__inner">
                    <p class="card__name">Tips to Improve your GPA</p>
                    <ul role="list" class="card__bullets">
                      <li>Organize your time! Allot specific times for studying and doing work to increase productivity
                        and reduce distractions. Doing work before deadlines ca also refuce stress and increase
                        performance. Don't procrasinate!</li>
                      <li>Do your work well before the deadline! Do not procrastinate projects and assignments until the
                        last minute. This will cause you stress and your performance will appear rushed.</li>
                      <li>Use your resources! Ask other for help on confusing material and concepts. Ultilize office
                        hours or visit teachers during breaks. Silver Creek also offers tutors in the library every
                        Tuesday and Thursday after school until 5 PM.</li>
                    </ul>

                  </div>
                </div>
                <main class="main flow">  
                  <div class="main__cards cards">
                    <div class="cards__card card">
                    <div class="cards__inner">
                        <p class="card__name">Correlation</p>
                          <p style="text-align:center;">GPGenius was designed around the GPA scale of Silver Creek and directly correlates with the prompt. It finds both weighted and unweighted GPAs with additional features for the benefit of the user</p>
                          

                      </div>
                    </div>
                <div class="overlay cards__inner"></div>
              </div>
            </main>
            <script>
                console.clear();

const cardsContainer = document.querySelector(".cards");
const cardsContainerInner = document.querySelector(".cards__inner");
const cards = Array.from(document.querySelectorAll(".card"));
const overlay = document.querySelector(".overlay");

const applyOverlayMask = (e) => {
  const overlayEl = e.currentTarget;
  const x = e.pageX - cardsContainer.offsetLeft;
  const y = e.pageY - cardsContainer.offsetTop;

  overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
};

const createOverlayCta = (overlayCard, ctaEl) => {
  const overlayCta = document.createElement("div");
  overlayCta.classList.add("cta");
  overlayCta.textContent = ctaEl.textContent;
  overlayCta.setAttribute("aria-hidden", true);
  overlayCard.append(overlayCta);
};

const observer = new ResizeObserver((entries) => {
  entries.forEach((entry) => {
    const cardIndex = cards.indexOf(entry.target);
    let width = entry.borderBoxSize[0].inlineSize;
    let height = entry.borderBoxSize[0].blockSize;

    if (cardIndex >= 0) {
      overlay.children[cardIndex].style.width = `${width}px`;
      overlay.children[cardIndex].style.height = `${height}px`;
    }
  });
});

const initOverlayCard = (cardEl) => {
  const overlayCard = document.createElement("div");
  overlayCard.classList.add("card");
  createOverlayCta(overlayCard, cardEl.lastElementChild);
  overlay.append(overlayCard);
  observer.observe(cardEl);
};

cards.forEach(initOverlayCard);
document.body.addEventListener("pointermove", applyOverlayMask);

            </script>
            <div class="absolute">
              <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
              <div class="bg-shape2 bg-pink opacity-50 bg-blur"></div>
              <div class="bg-shape3 bg-blue opacity-50 bg-blur"></div>
              <div class="bg-shape4 bg-beige opacity-50 bg-blur"></div>
            </div>
</body>

</html>