<!DOCTYPE html>
 <html>
 <head>
 	<title>Questions and Answers</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/qa.css">
   
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag("js", new Date());
	  gtag("config", "G-1JHMFQXCEW");
	</script>
 	
 	<style>

    body {
          background: rgb#ffff;
          font-family: 'Poppins', sans-serif;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }
  
      

      }

* {
 box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
 color: #000;
 box-sizing: border-box;
 background-color: #ffff;
}

.qa {
 max-width: 800px !important;
 margin: auto;
 width: 100%;
 padding: 40px 0px;
}

.qa-section {
 display: flex;
 flex-direction: column;
 row-gap: 2rem;
}

.faq-top {
 text-align: center;
}

.faq-top p {
 margin: 0px;
}

.heading {
 font-size: 2rem;
 text-align: center;
 margin-bottom: 0px;
  background-image: linear-gradient(90deg, #ff6a00, #ffa57d, #ffd9a8);
  -webkit-background-clip: text;
  color: transparent;
}

.heading span {
 color: #6A49F2;
}

.answer {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 1rem;
}

.answer__item {
 padding: 0.8rem 1rem;
 background: #ffff;
 position: relative;
 width: 100%;
 cursor: pointer;
 box-shadow: 0 4px 10px #ede9fe;
 border: #cdcdcd 1px solid;
}

.answer__item .question {
 padding-left: 26px;
 font-size: 20px;
 position: relative;
 width: 100%;
 display: inline-block;
 font-size: 15px;
 font-weight: 500;
}

.answer__item .question:after {
 position: absolute;
 left: 0;
 content: "+";
 font-size: 16px;
 top: 3px;
 border: #000 1px solid;
 width: 16px;
 height: 16px;
 border-radius: 100%;
 line-height: 1.1;
 text-align: center;
}

.answer__item .question.cw-open:after {
 transform: rotate(45deg);
}

.answer__item .answer-cont {
 height: 0px;
 overflow: hidden;
 transition: 0.4s;
 -webkit-transition: 0.4s;
 font-size: 15px;
 padding-left: 25px;
 padding-right: 25px;
}

.answer__item .answer-cont ul {
 padding-left: 20px;
}

.answer__item .answer-cont ul li {
 margin: 7px 0px;
}

.answer__item .cw-open + .answer-cont {
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
}

.faq-contact {
 text-align: center;
 padding: 10px 0;
}

.faq-contact h3, h4 {
 margin: 0px 0px 15px 0px;
  background-image: linear-gradient(90deg, #ff6a00, #ffa57d, #ffd9a8);
  -webkit-background-clip: text;
  color: transparent;
}

.faq-contact .contact-btn {
 padding: 8px 20px;
 background-color: #000;
 color: #fba57e;
 text-decoration: none;
 display: inline-block;
 border: #000 1px solid;
 transition: 0.5s all;
 font-weight: 700;
}

.faq-contact .contact-btn:hover {
 background-color: transparent;
 color: #000;
}
@media(max-width:992px) {
.heading {
     font-size: 1.5rem;
}
  </style>
</head>
<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="images/logo.jpg" alt="logo">
        <h2>GP Genius</h2>
      </div>
      <ul class="links">
        <h4>Main Menu</h4>
        <li>
          <span class="material-symbols-outlined">
          home
          </span>
          <a href="#">Home</a>
        </li>
        <li>
          <span class="material-symbols-outlined">
          info
          </span>
          <a href="#">Information</a>
        </li>
        <li>
          <span class="material-symbols-outlined">
          question_mark
          </span>
          <a href="#">FAQ</a>
        </li>
        <li>
          <span class="material-symbols-outlined">
          summarize
          </span>
          <a href="#">Transcript</a>
        </li>
      </ul>
    </aside>

   <div class="qa">
	 <section class="qa-section">
		<div class="faq-top">
			<h2 class="heading" style="font-weight: bold;">FREQUENTLY ASKED QUESTIONS</h2>
			<p>Last Updated on April 6, 2024</p>
		</div>
		<div class="answer">
			<article class="answer__item open">
				<span class="question">What grading scale is GPGenius based on?</span>
				<div class="answer-cont">
					<p>GPGenius is based on Silver Creek High School's grading system. Silver Creek High School is on a 4.0 scale. At Silver Creek, an A+, A-, or A is still equivalent to 4 points, and so on for a B, C, and D.  </p>
					<ul>
					</ul>
				</div>
			</article>
			<article class="answer__item">
				<span class="question">Can I share my GPA results?</span>
				<div class="answer-cont">
					<p>There are many different platforms that you can share your GPA to from our website. You can reach the share GPA button on the results page and we have a wide selection of social media platforms for you to share your GPA on. You can reach the results page via two methods. If you are already a prexisting user on our page, while logging our intuitive page will give you the selection between two choices: one being to proceed to the GPA calculator, and the other option to see previously saved GPA's. If you click on the latter option, you will be redirected to the results page, where the share button is an option. </p>
				</div>
			</article>
			<article class="answer__item">
				<span class="question">What if I made an error when I was inputting my class and grade information?</span>
				<div class="answer-cont">
					<p>Our GPA calculator gives you the option to change your results while calculating. There is no need to click delete or reload the page with GPGenius! You simply click on the mistake you made and correct it. Incase you made a mistake and clicked calulate GPA, there is still also no need to reload the page. Just correct your mistakes and click calculate GPA again so that the correct results will appear calculated to you.</p>
				</div>
			</article>
		</div>
		<div class="faq-contact">
			<h3>STILL HAVE QUESTIONS?</h3>
      <h4>CONTACT US</h4>

      
      <form target="_blank" action="https://formsubmit.co/gpgeniusfbla@gmail.com" method="POST">
        <input id="name" type="text" name="name" placeholder="Full Name">
        <input id="email" type="email" name="email" placeholder="Email Address">
        <textarea id="message" placeholder="Your Message" name="message"></textarea>
        <button id="submit" type="submit">Submit Form</button>

      </form>
		</div>
	</section>
  </div>
</div><script>let items = document.querySelectorAll(".answer .answer__item .question");
items.forEach(function (t) {
t.addEventListener("click", function (e) {
 items.forEach(function (e) {
 e !== t || e.classList.contains("cw-open")
 	? e.classList.remove("cw-open")
 	: e.classList.add("cw-open");
 });
});
});
</script>
  <!-- Back button -->
  <button class="backButton" onclick="goBack()">
    <!-- Reversed arrow SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#ffffff" width="24" height="24">
       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M15 19l-7-7 7-7"/>
          </svg>
      </div>
    </svg>
  </button>

  <script>
    function goBack() {
      window.location.href = "home.html";
    }
  </script>

<div class="absolute">
  <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
  <div class="bg-shape2 bg-pink opacity-50 bg-blur"></div>
  <div class="bg-shape3 bg-blue opacity-50 bg-blur"></div>
  <div class="bg-shape4 bg-beige opacity-50 bg-blur"></div>
</div>
  </div>  
  </body>
 	</html>

