<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/verify.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

    <div class="">
        <div>
            <h2 class="text-5xl font-bold LoginHere z-10">Login Here</h2>
            <h3 class="text-orange-400 mt-10" style="position:fixed; top:30%"><span class="auto-type"></span></h3>
            <h5 class="text-orange-400" style="position:fixed; top:30%; left:42%">If you are a new user, sign up
                <a><span class="dark-orange"> here</span></a></h5>
            <input type="email" id="email"
                class="form-control email no-border bg-transparent appearance-none border-none w-full text-orange-400 mr-3 py-1 px-2 leading-tight focus:outline-none mb-6"
                style="color: #fba57e; #fba57e; padding-bottom: 3px; position: fixed; top:38%; left:38%; width:24%"
                placeholder="Student Email Address">

            <div class="">
                <button class="login-btn" onclick="sendOTP()">Send OTP</button>
            </div>
        </div>
        <div id="otpvs" class="success text-success">
            OTP verified Successfully
        </div>

        <div class="verification" style="display:none;">
            <div class="title_center">
                <p>4 Digit Code has been sent to your Email! <span class="emailpartial"></span></p>
            </div>
            <div class="otp-input-fields">
                <input type="number" class="otp_num otp_num_1 bg-transparent" placeholder="*" maxlength="1">
                <input type="number" placeholder="*" class="otp_num otp_num_2 bg-transparent" maxlength="1">
                <input type="number" class="otp_num otp_num_3 bg-transparent" placeholder="*" maxlength="1">
                <input type="number" class="otp_num otp_num_4 bg-transparent" placeholder="*" maxlength="1">
            </div>
        </div>
        <div class="error text-danger" style="display:none;">
            Invalid otp
        </div>
    </div>

    <h4 class="glass-effect center"></h4>

    <script>
        let emailEle = document.querySelector('.email');
        let verfEle = document.querySelector('.verification');
        let successEle = document.querySelector('.success');
        let errorEle = document.querySelector('.error');
        let otp_inputs = document.querySelectorAll('.otp_num');
        let emailpartialEle = document.querySelector('.emailpartial');
        let regex = new RegExp('[a-zA-Z0-9]+@[a-z]+\.[a-z]{2,3}');
        let otp_check = '';
        let email;

        otp_inputs.forEach(
            (ip) => {
                ip.addEventListener('keyup', moveNext)
            }
        )

        function moveNext(event) {
            let current = event.target;
            let index = current.classList[1].slice(-1);
            if (event.keyCode == 8 && index > 1) {
                current.previousElementSibling.focus()
            } else if (index < 4) {
                current.nextElementSibling.focus()
            }
            otp_check = '';
            for (let ip of otp_inputs) {
                otp_check += ip.value
            }
            if (otp_check.length == 4) {
                verifyOTP()
            }
        }

        function verifyOTP() {
            fetch('http://localhost:5000/verify', {
                method: "POST",
                body: JSON.stringify({
                    "email": `${email}`,
                    "otp": `${otp_check}`
                }),
                headers: { 'Content-Type': 'application/json' }
            })
                .then(
                    (res) => {
                        console.log(res)
                        if (res.status == 200) {
                            verfEle.style.display = 'none';
                            successEle.style.display = 'block';
                            errorEle.style.display = 'none';
                            window.location.href = '/home';
                        } else {
                            errorEle.style.display = 'block';
                            errorEle.innerHTML = "Invalid OTP";
                            successEle.style.display = 'none';
                        }
                    }
                )
        }

        function sendOTP() {
            email = emailEle.value;
            if (regex.test(email)) {
                localStorage.setItem('userEmail', email); // Store email in local storage
                fetch('http://localhost:5000/sendotp', {
                    method: "POST",
                    body: JSON.stringify({
                        "email": `${email}`
                    }),
                    headers: { 'Content-Type': 'application/json' }
                })
                    .then(
                        (res) => {
                            if (res.status == 200) {
                                verfEle.style.display = 'block';
                                emailpartialEle.innerHTML = "***" + email.slice(3);
                                emailEle.value = '';
                            } else {
                                errorEle.style.display = 'block';
                                errorEle.innerHTML = "Email not exist";
                                successEle.style.display = 'none';
                            }
                        }
                    )
            } else {
                errorEle.style.display = 'block';
                errorEle.innerHTML = `<p class=invalid>Invalid Email</p>`;
                successEle.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const storedEmail = localStorage.getItem('userEmail');
            if (storedEmail) {
                emailEle.value = storedEmail;
            }
        });
    </script>

    <div class="absolute">
        <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
        <div class="bg-shape2 bg-pink opacity-50 bg-blur"></div>
        <div class="bg-shape3 bg-blue opacity-50 bg-blur"></div>
        <div class="bg-shape4 bg-beige opacity-50 bg-blur"></div>
    </div>
</body>

</html>
