html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
  }
  .header {
    position: fixed;
    top: 15%;
    right: 1%;
    width: 100%;
    z-index: 10; 
    background-image: linear-gradient(90deg, #ff6a00, #ffa57d, #ffd9a8);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 35px;
  }
  
  .gradient-text {
    overflow: visible;
    min-height: 60px;
    background-image: linear-gradient(90deg, #ff6a00, #ffa57d, #ffd9a8);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 100;
  }
  
  .x {
    margin-bottom: 5px;
    color: #fba57e;
    z-index: 0;
  }
  
  #studentID{
    border-bottom: 1px solid orange;
  }
  
  #password{
    border-bottom: 1px solid orange;
  }
  
  #Name{
    border-bottom: 1px solid orange;
  }
  
  #email{
    border-bottom: 1px solid orange;
  }
  
  #confirm-password{
    border-bottom: 1px solid orange;
  }
  
  .input-box input:focus {
    border-bottom: 2px solid #ff6a00; /* Change border color on focus */
    border-color: transparent;
    outline: none;
    color: #000000; /* Change text color on focus */
  }
  
  .signup-link {
    color: #ff5701;
    font-weight: bold;
    cursor: pointer;
  }
  
  .input-group{
    color: #fba57e;
    font-size: 18px;
    font-weight: semi-bold;
  }
  
  .input-box {
    display: flex;
     align-items: center;
    border-bottom: 2px solid #ffa57d;
    padding-bottom: 6px;
  }
  .input-box input {
    background: transparent;
    border: none;
    color: #ffa57d;
    outline: none;
    width: 90%;
  }
  
  .input-box input:focus {
    border-bottom: 2px solid #ff6a00; /* Change border color on focus */
    color: #fa6b01; /* Change text color on focus */
  }
  
  .input-box input:hover {
    border-bottom: 2px solid #ff6a00; /* Change border color on hover */
    color: #ff6a00; /* Change text color on hover */
  }
  
  .login-btn {
    border: 1px solid #ffa57d;
    border-radius: 15px;
    background: transparent;
    color: #ffa57d;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 40px auto 20px;
    outline: none;
    padding: 10px 0;
    transition: 0.3s;
    width: 100%;
  }
  
  .login-btn:hover {
    background-color: #ff6a00;
    color: white; 
  }
  
  .login-btn:active {
    background-color: #ff8c00; 
    color: white; 
  }
  
  .bg-shape1,
  .bg-shape2,
  .bg-shape3,
  .bg-shape4 {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    z-index: -2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .bg-shape1 {
    background-color: #ff8647;
    animation-name: one;
  }
  
  .bg-shape2 {
    background-color: #ffe4a8;
    animation-name: two;
  }
  
  .bg-shape3 {
    background-color: #ffc4ab;
    animation-name: three;
  }
  
  .bg-shape4 {
    background-color: #ffaa00;
    animation-name: four;
  }
  
  .login-btn:hover {
    background-color: #ff6a00;
    color: white; 
  }
  
  .login-btn:active {
    background-color: #ff8c00; 
    color: white; 
  }
  
  @keyframes one {
    0%,
    100% {
      right: 0;
      top: 0;
    }
  
    25% {
      right: 20px;
      top: 70px;
    }
  
    50% {
      right: 20px;
      top: 150px;
    }
  
    75% {
      right: 50px;
      top: 75px;
    }
  }
  
  @keyframes two {
    0%,
    100% {
      left: 400px;
      top: 0;
    }
  
    25% {
      left: 250px;
      top: 150px;
    }
  
    50% {
      left: 300px;
      top: 50px;
    }
  
    75% {
      left: 700px;
      top: 100px;
    }
  }
  
  @keyframes three {
    0%,
    100% {
      bottom: 40px;
      left: 10px;
    }
  
    25% {
      bottom: 100px;
      left: 400px;
    }
  
    50% {
      bottom: 50px;
      left: 250px;
    }
  
    75% {
      bottom: 50px;
      left: 100px;
    }
  }
  
  @keyframes four {
    0%,
    100% {
      top: 0;
      center: 0;
    }
  
    25% {
      top: -150px;
      center: -100px;
    }
  
    50% {
      top: -250px;
      center: -50px;
    }
  
    75% {
      top: -100px;
      center: -30px;
    }
  }
  
  .opacity-50 {
    opacity: 0.5;
  }
  
  .bg-blur {
    filter: blur(2rem);
  }
  
  h4.glass-effect {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .4);
    backdrop-filter: blur(5x);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 90%;
    position: absolute;
    margin: 10%;
    text-align: center;
    justify-content: center; 
    z-index: -1;
  }